@baseDir: "../../";
@path: 'Dotdigitalgroup_Sms/';
@import "source/_intlTelInput.less";

.iti__country-container {
    height: 44px;
}
.shipping-phone-fields .iti__country-container {
    top: 4px;
}
