<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sync_settings>
            <addressbook>
                <sms_subscribers>0</sms_subscribers>
            </addressbook>
        </sync_settings>
        <transactional_sms>
            <sms_settings>
                <enabled>0</enabled>
                <phone_number_validation>0</phone_number_validation>
                <batch_size>1000</batch_size>
            </sms_settings>
            <consent>
                <enabled>0</enabled>
                <text></text>
                <opt_out_text>Reply with STOP to opt-out.</opt_out_text>
                <cpaas_optout_id></cpaas_optout_id>
                <cpaas_optout_generated>0</cpaas_optout_generated>
            </consent>
            <sms_templates>
                <new_order_confirmation_enabled>0</new_order_confirmation_enabled>
                <new_order_confirmation_message>Thanks {{ first_name }}, your order has been placed on {{ store_name }}. We'll notify you when it ships. View order {{ order_id }}</new_order_confirmation_message>
                <order_update_enabled>0</order_update_enabled>
                <order_update_message>{{ first_name }}, your order {{ order_id }} has been updated with a status: {{ order_status }}. View order {{ order_id }}</order_update_message>
                <new_shipment_enabled>0</new_shipment_enabled>
                <new_shipment_message>Great news, your order from {{ store_name }} has been shipped. {{ tracking_carrier }} tracking number: {{ tracking_number }}</new_shipment_message>
                <shipment_update_enabled>0</shipment_update_enabled>
                <shipment_update_message>{{ first_name }}, the recent shipment of order {{ order_id }} has been updated. {{ tracking_carrier }} tracking number: {{ tracking_number }}</shipment_update_message>
                <new_credit_memo_enabled>0</new_credit_memo_enabled>
                <new_credit_memo_message>{{first_name}}, your order {{ order_id }} from {{ store_name }} has been refunded for {{ refund_amount }}</new_credit_memo_message>
            </sms_templates>
        </transactional_sms>
        <connector_consent>
            <sms>
                <registration_enabled>0</registration_enabled>
                <account_enabled>0</account_enabled>
                <checkout_enabled>0</checkout_enabled>
                <signup_text></signup_text>
                <marketing_consent_text></marketing_consent_text>
            </sms>
            <sms_templates>
                <signup_enabled>0</signup_enabled>
                <signup_message>Hi {{ first_name }}, thanks for signing up to receive marketing messages from {{ store_name }}.</signup_message>
                <new_account_signup_enabled>0</new_account_signup_enabled>
                <new_account_signup_message>Hi {{ first_name }}, thanks for setting up your account at {{ store_name }}.</new_account_signup_message>
            </sms_templates>
        </connector_consent>
    </default>
</config>
