<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Dotdigitalgroup\Sms\Ui\Model\ResourceModel\SmsOrder\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">email_sms_order_queue</argument>
            <argument name="resourceModel" xsi:type="string">Dotdigitalgroup\Sms\Model\ResourceModel\SmsOrder</argument>
        </arguments>
    </virtualType>
    <type name="Dotdigitalgroup\Email\Model\Connector\Module">
        <plugin name="module_plugin_sms" type="Dotdigitalgroup\Sms\Plugin\ModulePlugin" sortOrder="4"/>
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\Save">
        <plugin name="dd_sms_admin_customer_save" type="Dotdigitalgroup\Sms\Plugin\Customer\Controller\Adminhtml\Index\Save" sortOrder="1"/>
    </type>
</config>
